<footer class="box-full_width shift-padding_4-bottom" role="footer">
    <div class="c-content">
        <div class="box-full_width-grid-vertical_align_middle">
            <div class="column-width_4 rwd-break_portrait_tablet-cut_hidden rwd-break_portrait_iphone6-cut_hidden">
                <div class="c-logo">
                    <img src="img/main-logo-medium.png" alt="Quicksource Logo"/>
                </div>
            </div>
            <div class="column-width_4 text-align_center rwd-break_portrait_tablet-cut_full rwd-break_portrait_iphone6-cut_full">
                <i class="js-navigation-anchor icon-arrow_top-size_2-color_bwhite box-vertical_align_middle-inline border_full-color_white-radius_circle shift-padding_1 cursor-pointer" data-target="head"></i>
            </div>
            <div class="column-width_4 rwd-break_portrait_tablet-cut_hidden rwd-break_portrait_iphone6-cut_hidden">
                {% include nav.html %}
            </div>
        </div>
    </div>
</footer>