<header class="box-full_width shift-padding_4-vertical">
    <div class="c-content box-grid-vertical_align_middle">
        <div class="column-width_3 rwd-break_portrait_tablet-cut_full rwd-break_portrait_iphone6-cut_full">
            <div class="c-logo">
                <img src="img/main-logo-medium.png" alt="Quicksource Logo"/>
            </div>
        </div>
        <div class="column-width_9 rwd-break_portrait_tablet-cut_hidden rwd-break_portrait_iphone6-cut_hidden">
            {% include nav.html %}
        </div>
    </div>
</header>