<nav class="text-align_right box-full_width">
    {% for element in site.data.l.nav %}
        <span href="{{ element.[site.lang] }}" class="js-navigation-anchor text-size_medium-color_bwhite-capitalize shift-padding_2-left cursor-pointer" data-target="{{ element.[site.lang] }}">{{ element.[site.lang] }}</span>
    {% endfor %}
    <a href="https://www.linkedin.com/company/1848135" class="text-size_medium-color_bwhite-capitalize shift-padding_2-left cursor-pointer" target="_blank">LinkedIn</a>
    <a href="https://www.facebook.com/Quicksource-Recruitment-Solutions-184855341535301/" class="text-size_medium-color_bwhite-capitalize shift-padding_2-left cursor-pointer" target="_blank">Facebook</a>
</nav>