---
layout: compress
meta_keywords: job, position, work, developer
meta_description:
---

<!doctype html>
<html lang="{{ site.lang_meta }}" prefix="og:http://ogp.me/ns#">
    {% include head.html %}
    <body class="fn-locked job">
        <div class="js-page-loader page-loader"></div>
        <main id="main_container" role="main">
            <section class="c-position-holder">
                <div class="c-content_regular">
                    <h1>{{ page.title }}</h1>
                    {{ content }}
                    {% include job-footer.html %}
                </div>
            </section>
        </main>
    </body>
</html>